/* ChatBox.css */
.chat-container {
align-items: center;
    text-align: center;
    width: 100%;
    margin-right: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-box {
    overflow-x: hidden;
    text-align-last: left;
    box-shadow: 6px 7px 8px rgba(0,0,0,0.2);
    height: 300px;
    width: 500px;
    overflow-y: auto;
    padding: 10px;
    background: #ffffff;
    border: 2px solid #2e363f;
    border-radius: 10px;
}

.chat-box div {
    width: 500px;
    margin: 5px 0;
}

.outgoing {
    text-align: right;
}

.incoming {
    text-align: left;
}

.incoming::before {
    content: '👤 ';
}

input.message-input {
    box-shadow: 6px 7px 8px rgba(0,0,0,0.2);
    width: 500px;
    padding: 10px;
    border: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40px;
    box-sizing: border-box;
}

#chatButton {
    box-shadow: 6px 7px 8px rgba(0,0,0,0.2);
    width: 100px;
    border: none;
    background: darkslategrey;
    color: rgb(243, 241, 241);
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.1s ease-in-out;
    margin-bottom: 20px;
}

#chatButton:hover {
    transform: scale(1.1);
}

.typing-animation {
    color: #aaa;
    font-style: italic;
}