/* Custom CSS for the login form and button */
input[type="text"],
input[type="password"] {
  width: 300px; /* Adjust the width as needed */
  padding: 12px 20px;
  margin: 8px 0;
  display: block; /* Change display to block */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Additional styling for the Jumbotron content */
.Jumbotron {
  text-align: center;
  padding: 20px;
}

.Jumbotron h1 {
  font-size: 36px;
}

.Jumbotron p {
  font-size: 20px;
}
